body {
    background-color: #9C561C;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
}

.form {
    padding: 25px;
    margin-top: 30px;
    background-color: whitesmoke;
    width: 500px;
    height: 500px;
}

#foto {
    display: block;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

.botao {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}