<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/materialize/materialize/css/materialize.min.css}">
  <link rel="stylesheet" th:href="@{/css/cadastro.css}">


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>

<body>
  <header>
    <nav class="nav">
      <div class="nav-wrapper ">
        <a href="#" class="brand-logo">Maria's Hotel</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/hotel/login">Login</a></li>
        </ul>
      </div>
    </nav>
  </header>



  <div class="container" id="login">
    <div id="titulo">
      <h3>Cadastro</h3>
    </div>
    <div class="row">
      <form class="col s12" id="interno" action="/hotel/cadastrarCliente" method="post">

        <div class="row">
          <div class="input-field col s12">
            <label class="inputName">Nome</label><br>
            <input name="nome" type="text" class="validate">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <label class="inputName">E-mail</label><br>
            <input name="email" type="text" class="validate">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <label class="inputName">Senha</label> <br>
            <input name="senha" type="password" class="validate">
          </div>
        </div>
        <div>
          <button type="submit" class="btn" id="botao">Cadastrar-se</button>
          <button type="reset" class="btn" id="botao">Limpar</button>
        </div>
      </form>
    </div>

</body>

</html>