<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/materialize/materialize/css/materialize.min.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <title>Maria's Hotel Palace</title>
</head>

<body>

    <main>
        <div th:replace="~{menu :: menu}"></div>

        <h1>Maria's Hotel Palace</h1>
    </main>

</body>

</html>