<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/materialize/materialize/css/materialize.min.css}">
  <link rel="stylesheet" th:href="@{/css/login.css}">



  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>

<body>
  <header>
    <nav class="nav">
      <div class="nav-wrapper ">
        <a href="#" class="brand-logo">Maria's Hotel</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/hotel/cadastro">Cadastro</a></li>
        </ul>
      </div>
    </nav>
  </header>



  <div class="container" id="login">
    <div id="titulo">
      <h3>Login</h3>
    </div>
    <div class="row">
      <form class="col s12" action="/hotel/logar" id="interno" method="get">
        <div class="row">
          <div class="input-field col s12">
            <label class="input" for="email">E-mail</label><br> <input id="email" type="text" name="username"
              class="validate">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <label class="input" for="senha">Senha</label> <br> <input id="senha" type="password" name="password"
              class="validate">
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <button class="btn waves-effect waves-light" type="submit">Login</button>
            <button class="btn waves-effect waves-light" type="reset">Limpar</button>
          </div>
        </div>

      </form>
    </div>
  </div>

</body>

</html>